.root {
  margin-top: 5px;
  background: rgb(225, 225, 225);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.root button {
  border: none;
  background: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

button.error {
  background: #fff;
  transition-property: background-color;
}

button.error:hover {
  background: rgb(245, 245, 245);
}

button.error:focus {
  border: 3px solid #007bff;
}

button.error > h4 {
  margin-top: 0;
}
